/* Navigation Bar */


  .nav-item {
    padding: 0 18px;
  }


  .fcolor{
    color:white;
  }

  /*Name component */

  #name .container-fluid{
    padding:7% 15% 3%
  }

  
  h1 {
    
    font-family: "Sacramento", cursive;
    
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  }

  .fontsize{
    font-size: 6rem;
  }

  .name {
    margin-top: 100px;
  }
  h2 {
    font-family: "Montserrat", sans-serif;
    
    color: #66bfbf;
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
  }

  .fontsizew{
    font-size: 2.5rem;

  }
  .top {
    background-color: #ff4c68;
  }
  
/*Intro component */

  .my-photo {
    display: block;
    margin: 50px auto;
    width: 200px;
    border-radius: 50%;
  }
  .about {
    font-size: 30px;
  }

  /* Skill Component */

  #skill {
    background-color: #fed8b1;
    
  }

  #skill .container-fluid{
    padding:7% 15% 3%
  }
 
  .skills-h2{
    padding-bottom:50px;
  }
  
  .total-skills{
    padding-left:100px;
  }

  .pad-style{
    padding:20px 0;
  }

  h5{
    display:inline;
    padding-left : 20px;
    padding-top:20px;

  }

  /*Education Component */

  .Edu{
    text-align:center;
    
  }

 
  .hor-line
  {
  background-color:white; 
  width:5%;
  border-style:none;
  border-top-style:dotted;
  border-color:grey;
  border-width:5px;
  margin:0 auto;
  }

  .grad-cap{
    padding:20px 0;
   
    text-align:center;
  }

  .flex-container{
    display:flex;
    justify-content:space-around;
    margin:20px 0;
    
    
  }

 

  .year{
    text-align:right;
    margin-left:50px;
    
  }

  /* Contact component */

  #contact{
    background-color:#E4F9F5
  }

#contact .container-fluid{
  padding:7% 15% 3%
}

  .bottom{
    margin-top:50px;
  }

  .mail-buttton{
    margin-top:75px;

  }


  .mobile{
    padding-top:75px;

    
  }
  
 #contact .container-fluid{
  padding:3% 40% 3% 32%
 }



/* Contact2 component */

#contact2{
  background-color:#66BFBF;
}

#contact2 .container-fluid{
  padding:3% 32% 3% 40%
 }

 .footer-link{
  padding:0 20px;
 }

 .copyright{
  padding-top:50px;
  padding-left:50px;
 }



