/* Navigation Bar */


  .nav-item {
    padding: 0 18px;
  }

  .nav-but{
   margin-left:50px;
    color:black;
    width:75px;
    height:75px;
    background-color: transparent;
    border:0px;

  }

  .nav-buttons{
    background-color:black;
    color:white;
    border-radius:100%;
    border:solid 3px red ;
    text-align:center;
    font-size:80%;
    margin:5% 30% 5% 30%;
    width:30%;
    height:75%
    
    
  }

  .bg-nav{
    background-color: black;
  }

  .close-button{
    margin-left:auto;
  }


  .fcolor{
    color:white;
  }
  
  .common-nav-button{
    margin:5% 0 0 5%;
    width:75px;
    height:75px;
  }


  /*My Home*/
  .train-class{
    padding:0 !important
  }
  /*Name component */

  /* #name .container-fluid{
    
  } */


  #name{
    margin:0
  }
  #name .container-fluid{
    padding:10% 10% 28% 10%;
    
  }

  
  /* h1 {
    
    font-family: "Sacramento", cursive;
    
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  } */

  .fontsize{
    font-size: 6rem;
    font-family: "Sacramento", cursive;
    
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  }

  .name {
    
    margin-top:220px;
   
  }
  /* h2 {
    font-family: "Montserrat", sans-serif;
    
    color: #66bfbf;
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
  } */

  .fontsizew{
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    
    color: #66bfbf;
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
   

  }
  .top {
    background-color: #ff4c68;
  }
  #dynamicfresher{
    animation: Fades 5s infinite;
    padding:20% 0 20% 75%;
    font-size:2rem
  }

  @keyframes Fades{
    0%{
      opacity:0;
    }
    100%{
      opacity:1
    }

  }
  
/*Intro component */

  .my-photo {
    display: block;
    margin: 50px auto;
    width: 200px;
    border-radius: 50%;
  }
  .about {
    font-size: 30px;
  }

  .intro-title{
    text-align:center;
    padding:1% 0;
  }

  #intro{
    background-color:#E4F9F5 ;
  }

  /* Skill Component */

  #skill {
    background-color: #fed8b1;
    
  }

  #skill .container-fluid{
    padding:7% 15% 3%
  }
 
  .skills-h2{
    padding-bottom:50px;
    text-align:center;
    font-size:3rem;
  }
  
  .total-skills{
    padding-left:100px;
  }

  .pad-style{
    padding:20px 0;
  }

  .skill-head{
    color:black;
    font-size:3rem;
  }

  .skill-title{
    font-family: "Montserrat", sans-serif;
    font-size:2rem;
    color:black;
    display:inline;
    padding-left : 20px;
    padding-top:20px;

  }

  /*Education Component */

  #education{
    background-color: #fed8b1;
    margin-bottom:20px;
  }

  .edu-h2{
    text-align:center;
    padding:50px 0 0;
  }

  /* .Edu{
    text-align:center;
    
  } */

  a.school-link :hover{
    color : red;
  }

 
  .hor-line
  {
  background-color:white; 
  width:5%;
  border-style:none;
  border-top-style:dotted;
  border-color:grey;
  border-width:5px;
  margin:20px auto;
  padding-bottom:20px;
  
  }

  .grad-cap{
    padding:20px 0;
    color:black;
   
    text-align:center;
  }

  #education .container-fluid{

    padding:3% 10% 5%;
  }
   .school{
    font-size:2rem;
  } 
 

  .year{
   font-size:2rem;
   text-align:right;
  }

  .edu-button{
    margin-left:50%;
    background-color:black;
    color:white;
    width:50%;
    height:25%;
    border-radius:10%;
    padding-left:5%;

  }
  .download-icon{
    padding-right:5%;
  }

  .edu-nav{
    background-color: #fed8b1;
  }


  /*  Hobby */

  /* #hobby{
    margin:10% 0;
  } */


  #hobby{
    background-color:lightsalmon
  }
  #hobby .container-fluid{
    padding:7% 15% 3%; 
  }

  .hobby-title{
    text-align:center;
    padding:50px 0 0;
    font-size:3rem;

  }

  .l-img{
    float:left;
    margin-right:70px;
    
  }

  .r-img{
    float:right;
    margin-left:70px;
    
  }

  .hobby-description{
    padding-top:30px;
    
  }

  .hrow{
    margin:0 0 10%;
    
  }

   /*Carousel*/
   .carousel-control-next-icon{
    background-color: blue;
   
  }

  .carousel-control-prev-icon{
    background-color:blue;
  }

  .carousel-control-prev{
    position:absolute !important;
    top:100px !important;
    bottom:50px !important;
  }

  /* Resume */

  #resumeid{
    background-color: deeppink;
    color:white;
    
    
 
  }



  #resumeid .container-fluid{
    padding:10% 10% 28% 10%
  }

  .res-title{
    font-family:"Sacramento", cursive;;
    font-size:4rem;
    font-weight:bold;
    height:1rem;
    padding-top:50%;
    text-align:center;
  }

  .resume-about{
    font-family:'Montserrat', sans-serif;
    font-size:2rem;
    margin-top:50px;
    /* text-align:left; */
    margin-right:20px;
    color:yellow
  }

  .resume-button{
    margin:50% 20% 0;
    
    width:50%;
    height:50%;
    border-radius:15%;
    background-color:white;
    color:blue;
    font-size:1.5rem;
    
    padding:10% 5%;
   
  }

  /* Project */

  #project{
    background-color:coral
  }

  #project .container-fluid{
    padding:7% 30% 7% 30%
  }

  .project-title{
    text-align:center;
  }

  .bio-img{
    width:75%;
    height:75%
  }

  

  .project-intro{
    font-family:'Montserrat', sans-serif;
    font-size:1.5rem;
    padding:10% 0;
    font-weight:bold
  }

  /*Mec Project */
  #mec-card{
    background-color:#E4F9F5
  }


  #mec-card .container-fluid{
    padding:3% 10% 3% 10%;
  }
  .card-image{
    width:50% !important;
    height:50% !important;
  }
  .pro-title{
    text-align:center;
    padding:2% 0 2% 0; 

  }
  .prosub-title{
    text-align:center;
    padding:2% 0 2% 0; 
  }

  /* CS Courses Projects */

  #procourses{
    background-color:#E4F9F5
  }
  #procourses .container-fluid{
    padding:3% 10% 3% 10%;
  }

  .procourse-title{
    text-align:center;
    padding:2% 0 2% 0;
  }

  /* Contact component */

  #contact{
    background-color:#E4F9F5
  }

#contact .container-fluid{
  padding:7% 15% 3%
}

.contact-title{
  text-align:center;
  padding:10px 0 30px;
}

  .bottom{
    margin-top:50px;
  }

  input[type=text],[type=email]{
    width:100%;
    padding:5% 0;
    margin:3% 0;
    
  }
  input[type=submit]{
   padding:3% 10%;
   margin:3% 0;

  }

  textarea{
    width:100%;
    height:200px;
    margin:3% 0;
  }

  .btn{
    /* padding-top:5px; */
    margin:10px 35% 0;
    

  }


  .mobile{
    /* display:inline; */
    padding-top:75px;
    text-align:center;

    
  }
  
 #contact .container-fluid{
  padding:3% 40% 3% 32%
 }

 .contact-submit-button{
  color:blue;
  margin:5% 0 0 25% !important;
 }

 .submit-msg{
  padding-top:10%;
 }

 .req-class{
  color:red;
 }



/* Footer component */

#contact2{
  background-color:#e0ebe8;;
}

#contact2 .container-fluid{
  padding:3% 32% 3% 40%
 }

 .footer-link{
  padding:0 20% 0 0;
  font-size:2rem;
  color:#45b29a;
  text-align:center;
 }

 .copyright{
  padding-top:50px;
  
  font-size:2rem;
  text-align:center;
 }



